In [1]:
import pandas as pd
try:
    from StringIO import StringIO
except ImportError:
    from io import StringIO
import numpy as np

In [2]:
mylist = []
for chunk in pd.read_csv(r'nflscrapR-data/play_by_play_data/regular_season/reg_pbp_2018.csv', sep=',', chunksize=20000,low_memory=False):
    mylist.append(chunk)
p18 = pd.concat(mylist, axis = 0)
del mylist

In [3]:
#tackles
#tacklescoring - https://imgur.com/Ig0eCsh
#tacklepositions - LB, S, QB, RB, WR, TE, PK, PN
#groupby players and their tackles, create column to determine points from tackles, join with roster data, filter by eligible positions, 
tacklepts18one = pd.DataFrame({'tackles' : p18.groupby( [ "assist_tackle_1_player_id"] ).size()}).reset_index()
tacklepts18two = pd.DataFrame({'tackles' : p18.groupby( [ "assist_tackle_2_player_id"] ).size()}).reset_index()

In [4]:
#gotta figure out how to merge them, something about the column names not being indexed properly
tacklepts18 = pd.merge(tacklepts18one, tacklepts18two, left_on = 'assist_tackle_1_player_id', right_on = 'assist_tackle_2_player_id', how='left')

In [5]:
#Add both groups of tackle assists together, multiply by 0.5 for fantasy point total
tacklepts18['tackles_xy'] = (tacklepts18['tackles_x'] + tacklepts18['tackles_y']) * 0.5
tacklepts18.head()

,assist_tackle_1_player_id,tackles_x,assist_tackle_2_player_id,tackles_y,tackles_xy
0,00-0021140,7,00-0021140,4.0,5.5
1,00-0022161,5,00-0022161,6.0,5.5
2,00-0022247,14,00-0022247,19.0,16.5
3,00-0023173,2,00-0023173,1.0,1.5
4,00-0023259,13,00-0023259,13.0,13.0

In [6]:
print(len(tacklepts18))

879

In [7]:
rosters18 = pd.read_csv(r'rosters_2018.csv', sep = ',', low_memory = False)

In [8]:
print(len(tacklepts18))

879

In [9]:
rosters18 = pd.merge(rosters18, tacklepts18[['tackles_xy','assist_tackle_1_player_id']],left_on='GSIS_ID',right_on='assist_tackle_1_player_id', how='left')
rosters18.head()

,Season,Player,Team,Pos,name,GSIS_ID,tackles_xy,assist_tackle_1_player_id
0,2018,Antoine Bethea,ARI,FS,A.Bethea,00-0024421,13.5,00-0024421
1,2018,Benson Mayowa,ARI,DE,B.Mayowa,00-0030380,4.5,00-0030380
2,2018,Brandon Williams,ARI,CB,B.Williams,00-0032769,NaN,NaN
3,2018,Budda Baker,ARI,SS,B.Baker,00-0033890,15.5,00-0033890
4,2018,Cameron Malveaux,ARI,DE,C.Malveaux,00-0033403,4.0,00-0033403

In [10]:
rosters18.drop(['assist_tackle_1_player_id'], axis=1,inplace=True)

In [11]:
rosters18.head()
print(len(rosters18))

1565

In [12]:
qbhit18one = pd.DataFrame({'qb_hit' : p18.groupby( [ "qb_hit_1_player_id"] ).size()}).reset_index()
qbhit18two = pd.DataFrame({'qb_hit' : p18.groupby( [ "qb_hit_2_player_id"] ).size()}).reset_index()

In [13]:
qbhitpts18 = pd.merge(qbhit18one, qbhit18two, left_on = 'qb_hit_1_player_id', right_on = 'qb_hit_2_player_id', how='left')

In [14]:
qbhitpts18['qb_hit_xy'] = qbhitpts18['qb_hit_x'] + qbhitpts18['qb_hit_y']
qbhitpts18.head()

  qb_hit_1_player_id  qb_hit_x qb_hit_2_player_id  qb_hit_y  qb_hit_xy
0         00-0021140        11                NaN       NaN        NaN
1         00-0022161        13         00-0022161       2.0       15.0
2         00-0022247         1                NaN       NaN        NaN
3         00-0023259        10                NaN       NaN        NaN
4         00-0023368        16         00-0023368       1.0       17.0

In [15]:
rosters18.head()
print(len(rosters18))

1565

In [16]:
rosters18 = pd.merge(rosters18, qbhitpts18[['qb_hit_xy','qb_hit_1_player_id']],left_on='GSIS_ID',right_on='qb_hit_1_player_id', how='left')
rosters18.head()

,Season,Player,Team,Pos,name,GSIS_ID,tackles_xy,qb_hit_xy,qb_hit_1_player_id
0,2018,Antoine Bethea,ARI,FS,A.Bethea,00-0024421,13.5,NaN,00-0024421
1,2018,Benson Mayowa,ARI,DE,B.Mayowa,00-0030380,4.5,NaN,00-0030380
2,2018,Brandon Williams,ARI,CB,B.Williams,00-0032769,NaN,NaN,NaN
3,2018,Budda Baker,ARI,SS,B.Baker,00-0033890,15.5,3.0,00-0033890
4,2018,Cameron Malveaux,ARI,DE,C.Malveaux,00-0033403,4.0,NaN,00-0033403

In [17]:
print(len(rosters18))

1565

In [18]:
rosters18.drop(['qb_hit_1_player_id'], axis=1,inplace=True)

In [19]:
rosters18.head()

,Season,Player,Team,Pos,name,GSIS_ID,tackles_xy,qb_hit_xy
0,2018,Antoine Bethea,ARI,FS,A.Bethea,00-0024421,13.5,NaN
1,2018,Benson Mayowa,ARI,DE,B.Mayowa,00-0030380,4.5,NaN
2,2018,Brandon Williams,ARI,CB,B.Williams,00-0032769,NaN,NaN
3,2018,Budda Baker,ARI,SS,B.Baker,00-0033890,15.5,3.0
4,2018,Cameron Malveaux,ARI,DE,C.Malveaux,00-0033403,4.0,NaN